
@media (min-width: 500px){
	body{
		.container{
			display:flex; 
			flex-wrap:wrap;
		}
	}
		a::after{
			content:"\1f607";

		}
	
div{
		p{
			font-size:25px;
			color:white;
		}
		a{
			text-decoration:none;
			color:white;
		}
		
	}
	.dropdown{
  position:relative;
  display:inline-block;
}
.dropdown-content{
  display:none;
  position:absolute;
  background-color:red;
  min-width:160px;
  box-shadow:0px 8px,16px,0px
  rgba(0,0,0,2);
  padding:12px 16px;
  z-index:1;
}
.dropdown:hover .dropdown-content{
  display:block;
}



}
@media (max-width: 499px){
	body{
		.container{
			display:flex; 
			flex-wrap:wrap;
			}
		a::after{
			content:"\1f607";

		}
	}
	div{
		p{
			font-size:25px;
			color:white;
		}
		a{
			text-decoration:none;
			color:white;
		}
		
	}
	.dropdown{
  position:relative;
  display:inline-block;
}
.dropdown-content{
  display:none;
  position:absolute;
  background-color:red;
  min-width:160px;
  box-shadow:0px 8px,16px,0px
  rgba(0,0,0,2);
  padding:12px 16px;
  z-index:1;
}
.dropdown:hover .dropdown-content{
  display:block;
}



}
